snippet fn "Function definition"
	fn ${1:function_name}(${2})${3} {
		${0}
	}

snippet ppp "println!(...)"
	println!("{}",${1:function_name});


snippet dbp "(debug) println!(...)"
	//TODO(tacogips) for debugging
	println!("==== {}",${1:function_name});


